.navbar-header-lpage{
  background-image:url('../../assets/bg_verde_claro.svg');
}

.brand-header img{
  width: 80px;
}

.header-content{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header-content * {
  margin: 0 16px;
  color: white !important;
  font-weight: bold;
  font-size: 1.25rem;
}

.login-modal-open{
  background: var(--secondary-color);
  border-radius: 10px;
  color: white;
}

.show{
  padding:0 !important;
  border:0 !important;
  right:0 ;
  left: auto !important;
}

/** PROFESSOR **/
.navbar-header-prof{
  background-image:url('../../assets/bg_professor1.png');
}

.drop-menu-professor-opt{
  background-color: var(--color-professor) !important;
}
.drop-menu-professor-opt.dropdown-item{
  margin: 0;
}

/** STUDENT **/
.navbar-header-student{
  background-image:url('../../assets/bg_student.png');
}

.drop-menu-student{
  background-color: var(--color-student) !important;
}
.drop-menu-student.dropdown-item{
  margin: 0;
}

/** SCHOOL **/
.navbar-header-school{
  background-image:url('../../assets/bg_school.png');
}

.drop-menu-school{
  background-color: var(--color-school) !important;
}
.drop-menu-school.dropdown-item{
  margin: 0;
}

@media (max-width:1024px){
  .drop-menu{
    margin-right: 0;
  }
}