.footer-lp{
  background-image:url('../../assets/bg_verde_claro.svg');
  color: white;
  bottom: 0;
}

.footer-professor{
  background-image:url('../../assets/bg_professor.png');
  color: white;
  bottom: 0;
}
.footer-student{
  background-image:url('../../assets/bg_student.png');
  color: white;
  bottom: 0;
}
.footer-school{
  background-image:url('../../assets/bg_school.png');
  color: white;
  bottom: 0;
}

.footer-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom:0;
  width: 100%;
}
.footer-pages-list{
 text-align: left;
 padding-left: 1rem;
 
 padding:0;
}

.footer-pages-list ul li{
  list-style-type: none;
  font-weight: bold;
}
.footer-pages-list ul li a{
  color: white;
}
.footer-social-media{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right:0 !important;
}
.footer-social-media p {
  margin-bottom: 0;
}
.footer-social-media div{
  display: flex;
  flex-direction: row;
}
.footer-social-media img{
  width: 50px;
  padding: 10px;
}

.footer-copyright{
  color: white;
}

@media (max-width:375px){
  .footer-social-media{
    flex-direction: column;
  }
} 