#login-container{
  position: absolute;
  z-index:100;
  margin-top: 1rem;
  width:100%;
  color: white !important;
  font-weight:bold;
  /* background-image:url('../../assets/bg_verde_claro.svg'); */
}
#login{
  width:100%;
  height:350px;
  background-image:url('../../assets/bg_verde_claro.svg');
  margin:0 ;
  padding: 0;
  
}

#form-signin{
  padding-top:1rem;
}
#form-signin *{
  margin-left: 0 ;
  margin-right: 0;
}
.input-login.form-control{
  color: black !important;
  font-size: 1rem;
  font-weight: 400;
}
#signin-btn{
  background-color: var(--secondary-color);
}
#signup-btn{
  background-color: var(--main-color);
}
.dropdown-menu-login{
  width:250px !important;
  right:0;
  left:auto;
  background-color: var(--terciary-color);
  border: 0;
}