.main-school{
  min-height: calc(100vh - 90px);
  display:grid;
  grid-template-columns: max-content auto;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "sidemenu section-title" "sidemenu bodyarea";
}

@media (max-width: 500px){
  .main-school{
    grid-template-columns: auto;
    grid-template-rows:  auto;
    grid-template-areas: "section-title" "bodyarea";
  }
}