.button-ay{
  border-radius:20px;
  border:0;
  color: #FFF;
  font-family: 'Roboto';
  padding: 6px 24px;
  margin: 8px;
  width: fit-content;
  position: relative;
  align-self: center;
}

.button-ay:disabled{
  opacity: 0.5;
}

.button-primary{
  background: var(--color-button-primary);
  border: 1px solid var(--color-button-primary);
}

.button-secondary{
  color: var(--color-button-primary);
  background-color: white;
  border: 1px solid var(--color-button-primary);
}

.button-primary:hover{
  color:var(--color-button-primary);
  background: #fff;
  border: 1px solid var(--color-button-primary);

}

.button-secondary:hover{
  color:#fff;
  background: var(--color-button-primary);
}