:root{
  --main-color: #79EC77;
  --secondary-color: #126206;

  --color-button-primary: #F83600;
  --color-button-secondary: #BF0000;
  --color-button-terciary: #FAC321;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Pagina inicial **/
.section-mainpage{
  margin-bottom: 46px;
}