.material-por-serie{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: flex-start;
}

.matdoc-select{
  align-self: flex-start;
  text-align: left;
  
}
.articles{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  justify-items: start;
}
@media (max-width: 500px){
  .material-por-serie{
    margin-left: 20px;
  }
  .articles{
    justify-items: center;
  }
}